 /* body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.card {
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #007bff;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.card-body {
    padding: 2rem;
}

h5 {
    margin-top: 1rem;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 0.5rem;
}

p {
    margin-bottom: 0.5rem;
}

strong {
    color: #495057;
}

span {
    color: #343a40;
} 
    */
    /* *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    #product{
        background-color: blue;
    }
    body{
        background-color: cadetblue;
        font-family: 'Times New Roman', Times, serif;
    } */













