*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.mainheading{
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: white;
}
.tableheading{
    background-color: #240747;
    color: white;
    font-size: 20px;
}
.lastbtn{
    margin-right: 100px;
}
.total{
    margin-right: 120px;
}
.error{
    color: red;
    font-size: 0.875em;
}
.list{
    margin-left: 15px;
}

.alert{
    margin-right: 420px;
    background-color: white;
    color: red;
    border: none;
    margin-top: -15px;
}
