
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header{
    background-color: #343a40;
    color: white;
    text-align: center;
    margin-left: 250px;
    margin-right: 249px;
    margin-top: 30px;
}

.form-group label {
    font-weight: bold;
}

#billing-form {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

#billing-form .form-control {
    margin-bottom: 15px;
}

#bill-table {
    width: 850px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -40px;
    margin-right: 120px;
    border: 1px solid;
}

#bill-table th,
#bill-table td {
    text-align: center;
    vertical-align: middle;
}

#bill-table th {
    background-color: #343a40;
    color: white;
}

#bill-table tbody tr td input[type="number"] {
    max-width: 100px;
    margin: 0 auto;
}

#bill-table .btn-danger {
    margin-top: 0;
}

/* Total Styles */
.total {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 550px;
}

.total p,
.total h4 {
    margin: 5px 0;
}

/* Button Styles */
#add {
    margin-bottom: 20px;
    margin-left: -40px;
    margin-top: 20px;
}

#save {
    margin-top: 30px;
    margin-left: 550px;    
}

#can{
    margin-top: 20px;
}
.gap{
    gap: 200px;
}
.form-control{
    width: 300px;
}

#product{
    margin-top: 16px;
}
.f-btn{
    margin-bottom: 50px;
    gap: 5px;
}
.mainform{
    gap: 170px;
}

#first-form{
    border: 1px solid;
    width: 850px;
    margin-left: -25px;
    padding: 40px;
    margin-top: -50px;
    background-color: #dadada;
}
#final-bill{
    /* border: 1px solid; */

}