/* table.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container.tab {
    margin-top: 50px;
}

h1 {
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: bold;
}

button {
    margin-bottom: 20px;
}

/* Table Styles */
.table-responsive {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.table {
    width: 100%;
    margin-bottom: 0;
}

.table thead {
    background-color: #343a40;
    color: white;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

/* Button Styles */
button {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #495057;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .table-responsive {
        padding: 10px;
    }

    .table thead {
        display: none;
    }

    .table tbody tr {
        display: block;
        margin-bottom: 10px;
        background-color: #ffffff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .table tbody tr td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ddd;
    }

    .table tbody tr td::before {
        content: attr(data-label);
        font-weight: bold;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
