/* body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e1e1;
}

thead {
    background-color: #f8f9fa;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color:#0aa6c3;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

#invoiceTable {
    margin-bottom: 20px;
}
.in{
    margin-left:-50px;
    margin-top: 30px;
} */